body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    /* padding: 2em; */
    /* background-color: blanchedalmond; */
}

.main {
    width: 980px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

/* Y U NO .main1!±?±!!??!?!*/
.markdown-body img {
    width: 100%;
    font-size: 1.1em !important;
}