body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    /* padding: 2em; */
    /* background-color: blanchedalmond; */
}

.main {
    width: 980px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

/* Y U NO .main1!±?±!!??!?!*/
.markdown-body img {
    width: 100%;
    font-size: 1.1em !important;
}

/* collapsable section hax */
.hide {
  display: none;
}

h6 {
  font-size: 1.25em !important;
  color: black !important;
}

h6:hover {
  color: blue !important;
  text-decoration: underline;
}

/* arrows */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 2px;
}

.arrow {
  margin-right: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
